.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background-image: url('./assets/header-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.App-header h2 {
  margin: 0;
}

.NotFound {
  color: red;
  background-color: gainsboro;
  text-align: center;
  border: 3px solid black;
}

.HomePage {
  color: purple;
  background-color: gainsboro;
  text-align: center;
}

.MoviePage {
  color: black;
  background-color: rgb(191, 192, 125);
  text-align: center;
}